{% extends 'base.html' %}

{% block styles %}


{% endblock %}

{% block body %}
<div class="container" style="max-width: 93.5rem;margin: 0 auto;padding: 0 2rem; position: absolute;">
    <div class="row" id='scroller' style="padding-top: 10em;">
        {% for p in posts %}
        <div class="col-lg-3 col-md-5 col-sm-12 gallery-item" style="margin-left: 1.5em; margin-bottom: 1.5em" id='content'>
            <a href="{{url_for('post_detail',id=p.id) }}">
                <div class="card">
                    <img style="width: auto; height: 300px;" src="{{p.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{ p.description }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
